.section-two{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 684px;
    flex-shrink: 0;
}

.section-two-img{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 1200px;
    height: 684px;
    flex-shrink: 0;
}

@media only screen and (max-width: 1300px){
    .section-two{
        width: 1000px;
        height: 624px;
    }
    
    .section-two-img{
        width: 1000px;
        height: 624px;
    }    
}

@media only screen and (max-width: 1020px){
    .section-two{
        width: 900px;
        height: 550px;
    }
    
    .section-two-img{
        width: 900px;
        height: 550px;
    }    
}
@media only screen and (max-width: 920px){
    .section-two{
        width: 700px;
        height: 480px;
    }    
    .section-two-img{
        width: 700px;
        height: 480px;
    } 
}
@media only screen and (max-width: 720px){
    .section-two{
        width: 600px;
        height: 380px;
    }    
    .section-two-img{
        width: 600px;
        height: 380px;
    } 
}
@media only screen and (max-width: 580px){
    .section-two{
        width: 460px;
        height: 300px;
    }    
    .section-two-img{
        width: 460px;
        height: 300px;
    } 
}
@media only screen and (max-width: 480px){
    .section-two{
        width: 380;
        height: 300px;
    }    
    .section-two-img{
        width: 380px;
        height: 280px;
    } 
}