.div-lista-item{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 40px;
}

.lista-item{
    width: 380px;
    height: 180px;
    flex-shrink: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    row-gap: 10px; 

    border-radius: 12px;
    border: 1px solid #1F2937;
    background: radial-gradient(157.73% 157.73% at 50% -29.9%, rgba(203, 213, 225, 0.16) 0%, rgba(203, 213, 225, 0.00) 100%);
}

.div-icone-raio{
    display: flex;
    width: 48px;
    height: 48px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 8px;
    background: #374151;
}

.icone-raio{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.lista-item h3{
    display: flex;
    flex-shrink: 0;

    color: #F9FAFB;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
}

.lista-item p{
    display: flex;
    align-items: flex-start;
    width: 340px;
    height: 40px;
    flex-shrink: 0;

    color: #D1D5DB;
    font-size: 13px;
    font-style: normal;
    font-weight: 200;
    line-height: 20px;
}

@media only screen and (max-width: 840px){
    .div-lista-item{
        padding: 20px;
    }
    .lista-item{
        width: 340px;
        height: 180px;
    }
}
@media only screen and (max-width: 580px){
    .lista-item{
        width: 320px;
        height: 180px;
    }
    .div-icone-raio{
        width: 38px;
        height: 38px;
    }    
    .icone-raio{
        width: 20px;
        height: 20px;
    }    
    .lista-item h3{
        max-width: 250px;
    }    
    .lista-item p{
        max-width: 240px;
        height: 50px;
        font-weight: 400;
        line-height: 15px;
    }
}