@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Manrope&family=Montserrat:wght@300&family=Nunito:wght@600&family=Open+Sans:wght@700&family=Poppins:wght@300&family=Quicksand&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  color: #FFFFFF;
  background-color: #111827;
}

/* responsividade */

/* desktop*/
@media only screen and (min-width: 980px){

}

/* notebook */
@media only screen and (min-width: 768px){

}

/* tablet */
@media only screen and (min-width: 640px){

}

/* celular */
@media only screen and (min-width: 360px){

}